[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
qdrant-client = "*"
sentence-transformers = "*"

[dev-packages]
ipykernel = "*"
notebook = "*"

[requires]
python_version = "3.12"
